<form method="POST" action="/new">
  <label for="name">Name</label>
  <input name="Name" placeholder="Type here" />
  <label for="text">message text :</label>
  <input name="messageText" placeholder="Enter message here" />

  <button type="submit">Submit</button>
</form>